body{
    background-color: #6667ab;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.filterSection{
    background-color: #6667ab;
	display: flex;
	justify-content: center;
	padding: 5%;
}
.filterBox{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3a088f;
	border-radius: 100px;
	width: 400px;
	height: 100px;

}
h3 {
	color: white;
	font-size: 48px;
}

/* carousel */ 
.scrolling-wrapper{
	overflow-x: auto;
	background-color: #6667ab;

}

h1{
	font-weight: 700;
	font-size: 3.4em;
	color: white;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}
.container-fluid{
    background-color: #6667ab;
    max-height: fit-content;
}
.card-block{
	max-height: 900px;
	width:fit-content;
	background-color: #6667ab;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;}

	.cardblock:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	} 
.cardImg{
	max-height: 800px;
	max-width: fit-content;
}
/* footer */
h2 {
    font-size: 14px;
    color: #3a088f;
    font-family: Arial, Helvetica, sans-serif;
}
.footerContainer{
	border: none;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100%;
}
.footerButton{
    display: flex;
    flex-direction: column ;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.footerImg{
    height: 45px;
}