body{
    background-color: #6667ab;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.filterSection{
    background-color: #6667ab;
	display: flex;
	justify-content: center;
	padding: 6%;
	height: 15%;
}
.filterBox{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3a088f;
	border-radius: 100px;
	width: 400px;
	height: 100px;

}
h3 {
	color: white;
	font-size: 48px;
}

/* carousel */
.scrolling-wrapper{
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: #6667ab;
	-webkit-overflow-scrolling: touch;
}
h1{
	font-weight: 700;
	font-size: 3.4em;
	color: white;
}
.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}
.container-fluid{
    background-color: #6667ab;
    height: 70%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
.card-block{
	background-color: #6667ab;
	max-height: 100%;
	width:fit-content;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 15px;}

	.cardblock:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	} 
.cardImg{
	height: 900px;
	max-width: fit-content;
}
.gapFill{
	max-height: 40%px;
	max-width: 100%;
}
#gapFiller{
	background-color: #6667ab;
	width: 100%;
	height: fit-content;
}

/* new carousel
.carousel-item{
	background-color: #6667ab;
	display: flexbox;
	align-items: center;
	justify-content: center;

}
.imageBox{
	background-color: #6667ab;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 70%;
	width: 50%;
}

.bandImg{
	height: 500px;	
	width: 9;
} */
/* footer */
h2 {
    font-size: 14px;
    color: #3a088f;
    font-family: Arial, Helvetica, sans-serif;
}
.footerContainer{
	background-color: white;
	border: none;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100%;
}
.footerButton{
    display: flex;
    flex-direction: column ;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.footerImg{
    height: 45px;
}
@media only screen and (max-width: 775px){
	.cardImg{
		height: 700px;
	}
	.container-fluid{
		height: 75%;

	}
	.footerContainer{
        height: 100px;
        padding-bottom: 5%;
	}

}

	
