
h1{
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}
/* logo box */
.logoBox{
    height: 300px;
    background-color: #6667ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2%;
}
#Logo{
    max-height: 100% ;
    max-width: 100%;
    padding: 1%;
}
/* search buttons */ 
.big3Filter{
    height: 73%;
}
.filterBox{
    height: 100%;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6667ab;
    color: white
}
.filterButton{
    width: fit-content;
    border-radius: 15px;
    position: relative;
    justify-content: center;
    margin: 30px;
    text-align: center;
}
.buttonTitle{
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttonImage{
    height: 225px;
    border-radius: 15px;

}
/* footer */
h2 {
    font-size: 14px;
    color: #3a088f;
    font-family: Arial, Helvetica, sans-serif;
}
.footerContainer{
    background-color: white;
	border: none;
    height: 8%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100%;
}
.footerButton{
    display: flex;
    flex-direction: column ;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.footerImg{
    height: 45px;
}
@media only screen and (max-width: 750px){
    .footerContainer{
        height: 100px;
        padding-bottom: 5%;

    }


    }
