body{
    background-color: #6667ab;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
h1{
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}
/* logo box */
.logoBox{
    height: 20%;
    background-color: #6667ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2%;
}
#Logo{
    max-height: 100% ;
    max-width: 100%;
    padding: 1%;
}
/* search buttons */ 
.filterBox{
    height: 72%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6667ab;
    color: white
}
.filterButton{
    border-radius: 15px;
    position: relative;
    justify-content: center;
    margin: 30px;
}
.buttonTitle{
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttonImage{
    max-height: 300px;
    border-radius: 15px;

}
/* footer */
h2 {
    font-size: 14px;
    color: #3a088f;
    font-family: Arial, Helvetica, sans-serif;
}
.footerContainer{
	border: none;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100%;
}
.footerButton{
    display: flex;
    flex-direction: column ;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.footerImg{
    height: 45px;
}